<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Image data:</strong>
    <%= image_tag photo.image[:small].url if photo.image %>
  </p>

</div>
